.env
.vscode
__pycache__
migrrations
media
lab_management/iur/migrations/*
lab_management/cat/migrations/*
o365_token*
lab_management_azure_active_directory_token.txt
credentials.json
static
docker/database
lab_management/classify.py
*.sock