{% extends 'admin/change_form.html' %}
{% block extrahead %}
{{ block.super }}
{% load static %}
{% comment %} <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> {% endcomment %}
    <script src={% static 'js/jquery-3.5.1.min.js' %}></script>
    <script src={% static 'js/popper.min.js' %}></script>
    <script src={% static 'js//bootstrap.js' %}></script>
{% endblock extrahead %}
{% block field_sets %}
    {% for fieldset in adminform %}
        <fieldset class="module aligned {{ fieldset.classes }}">
            {% comment %} {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} <br>
                    {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}
                    </p>
                    {% endif %}
                </div>
            {% endfor %} {% endcomment %}
            {% for line in fieldset %}
                <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
                    {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
                    {% for field in line %}
                        <div{% if not line.fields|length_is:'1' %} class="fieldBox{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                            {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                            {% if field.is_checkbox %}
                                {{ field.field }}
                            {% else %}
                                {{ field.label_tag}}
                                {% if field.is_readonly %}
                                    <div class="readonly">{{ field.contents }}</div>
                                {% else %}
                                    {{ field.field }}
                                {% endif %}
                            {% endif %}
                            {% if field.field.help_text %}
                                <div class="help">{{ field.field.help_text|safe }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </fieldset>
        
        <fieldset class="module">
            <h2>UUTS</h2>
            <table>
                <thead>
                    <tr>
                        <th class="column-sn">SN</th>
                        <th class="column-sku">SKU</th>
                        <th class="column-position">POSITION</th>
                        <th class="column-delete">DELETE</th>
                    </tr>
                </thead>
                <tbody class="form-table-body">
                    <tr class="form-row has_original" id="root-input">
                        <td class="field-sn">
                            <input type="text" name="sn"  class="uut-multi-searcher-input"  placeholder="Serial Number">
                        </td>
                        <td>
                            <input type="text" name="sku" class="vTextField">
                        </td>
                        <td>
                            <input type="text" name="position" class="vTextField">
                        </td>
                        <td>
                            <a href="javascript:void(0);" class="uut-multi-searcher-delete"><img src="/static/admin/img/icon-deletelink.svg" alt="Delete"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    {% endfor %}
    <script>

        $(".uut-multi-searcher-delete").click(function(){
            if($(".uut-multi-searcher-delete").length>1){
                $(this).parent('td').parent(".form-row.has_original").remove();
            }
        });

        $(".form-row.has_original").last().on("keydown","input[type='text']",function(e){
            if(e.which==13){
                let cloneCell = $(".form-row.has_original").last().clone(true)
                let cloneCellInput = cloneCell.find(".uut-multi-searcher-input");
                cloneCellInput.val("");
                cloneCell.appendTo(".form-table-body");
                cloneCellInput.focus();
                e.preventDefault();
                return false;
            }
        });


    </script>
{% endblock field_sets %}
{% block submit_buttons_bottom %}
<div class="submit-row">
    <input type="submit" value="SAVE" class="default" id="uut-save" name="uut-save">    
</div>
<script>
    $(document).on('click', '.allow-focus', function (e) {
        e.stopPropagation();
    });

    $('#uut-save').keydown(function (e) {
        console.log(e.keyCode)
        if (e.keyCode == 13) {
            e.preventDefault();
            return false;
        }
    });
</script>
{% endblock submit_buttons_bottom%}

