{% extends 'admin\base_site.html' %}
{% block title %}
IUR | Borrow UUTs
{% endblock  %}

{% block branding %}
<h1 id="site-name"><a href="#">Lab Admin</a></h1>
{% endblock  %}

{% block extrastyle %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<!-- jQuery and JS bundle w/ Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<style>
.checkbox-menu li label,
label.select-all  {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin:0;
    transition: background-color .4s ease;
}
.checkbox-menu li input
label.select-all input {
    margin: 0px 5px;
    position: relative;
}

.checkbox-menu li.active label,
label.select-all.active{
    background-color: #c4dce8;
    font-weight:bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus,
label.select-all:hover,
label.select-all:foucs {
    background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus,
label.select-all.active:hover ,
label.select-all.active:focus {
    background-color: #417690cc;
}
.dropdowndata{
    max-height: 300px;
    overflow-y: scroll;
}

label.select-all{
    font-family:monospace;
}
label.select-all input{
    margin-right:4px;
}

.results{
    max-height:1000px;
    overflow-y:scroll;
}
#changelist-filter{
    max-height:1225px;
    overflow-y:scroll;
}
</style>

{% endblock  %}

{% block nav-global %}Borrow UUts{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">Home</a>
  &rsaquo;
  <a href="{% url 'admin:iur_uut_changelist' %}">Iur</a>
  &rsaquo;
  <a href="#">Borrow UUTs</a>
  &rsaquo;
</div>
{% endblock %}

{% block content %}




<div id="content-main">

<form method="post" enctype="multipart/form-data">
    <input class="form-check-input" type="radio" name="borrowRentRadios" id="borrowRadio" value="borrow" checked>
    <fieldset id="borrowfield" style="text-align:center; font-weight: bold;">
        <label  class="form-check-label" for="borrowRadio" style="width:100%">
        <div class="container">

        {{ form.member.label_tag }}<br>{{ form.member }}<br>
        {{ form.purpose.label_tag }}<br>{{ form.purpose }}<br><br>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mailModal">
            Mail
        </button>


        </div>
        </label>
    </fieldset>
        <hr>
    <input class="form-check-input" type="radio" name="borrowRentRadios" id="backRadio" value="back">
    <fieldset id="rentbackfield" style="text-align:center;">
            <label class="form-check-label" for="backRadio" style="width:100%">
            <div class="container">
                Return
            </div>
            </label>
    </fieldset>
    <hr>
    <fieldset  style="text-align:center;">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>

    <div class="modal fade" id="mailModal" tabindex="-1" aria-labelledby="mailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="mailModalLabel">MAIL</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="btn-group" data-toggle="buttons">

                <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" 
                        id="dropdown{{ cc.buttonName }}" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="true">
                        {{ cc.buttonName }}
                        
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu checkbox-menu allow-focus" aria-labelledby="dropdownMenu1">
                        <input type="text" list="" class="searchthenshow ml-2"  placeholder="Search {{ dlist.buttonName }}">
                        <div class="dropdown-divider"></div>
                        <label class="select-all">
                            <input type="checkbox" name="select_all" id=""  autocomplete="off">Select all
                        </label>

                        <div class="dropdowndata">
                        {% if cc.dataList %}
                            {{cc.format_html}}
                        {% endif %}
                        </div>
                </ul>

                </div>
            </div>
            <div class="custom-file">
                <input type="file" name="attachment" class="custom-file-input" id="inputMailAttachment" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputMailAttachment">Choose file</label>
            </div>
            <hr>
            <textarea class="form-control" id="mail_message" name="mail_message" placeholder="Leave message here"></textarea>
        </div>
        <div class="modal-footer">

        </div>
        </div>
    </div>
    </div>
</form>
<hr>

<table class="table" id="edit-table">
    <thead>
        <tr>
            <th scope="col" class="sortable column-platform_with_link">

            <div class="text"><a href="?o=2">ID</a></div>

            </th>
            <th scope="col" class="sortable column-platform_with_link">

            <div class="text"><a href="?o=2">PLATFORM</a></div>

            </th>
            <th scope="col" class="sortable column-platform_group_display">

            <div class="text"><a href="?o=3">GROUP</a></div>
            
            </th>
            <th scope="col" class="sortable column-platform_target_display">

            <div class="text"><a href="?o=4">TARGET</a></div>

            </th>
            <th scope="col" class="sortable column-platform_cycle_display">

            <div class="text"><a href="?o=5">CYCLE</a></div>

            </th>
            <th scope="col" class="sortable column-phase">

            <div class="text"><a href="?o=6">Phase</a></div>

            </th>
            <th scope="col" class="sortable column-sku">

            <div class="text"><a href="?o=7">Sku</a></div>

            </th>
            <th scope="col" class="sortable column-sn">

            <div class="text"><a href="?o=8">Sn</a></div>

            </th>
            <th scope="col" class="column-borrower_display">

            <div class="text"><span>BORROWER</span></div>

            </th>
            <th scope="col" class="sortable column-status">

            <div class="text"><a href="?o=10">Status</a></div>

            </th>
            <th scope="col" class="sortable column-scrap">

            <div class="text"><a href="?o=11">Scrap</a></div>

            </th>
            <th scope="col" class="sortable column-position">

            <div class="text"><a href="?o=12">Position</a></div>

            </th>
            <th scope="col" class="sortable column-cpu">

            <div class="text"><a href="?o=13">Cpu</a></div>

            </th>
            <th scope="col" class="sortable column-remark">
            <div class="text"><a href="?o=14">Remark</a></div>
            </th>
            <th scope="col" class="sortable column-keyin_time">
            <div class="text"><a href="?o=15">Keyin time</a></div>
            </th>
        </tr>
    </thead>
    <tbody>
      {% for uut in uuts %}
      <tr>
        <td scope="row">{{ uut.id }}</td>
        <td>{{ uut.platform_phase.platform.codename }}</td>
        <td>{{ uut.platform_phase.platform.group }}</td>
        <td>{{ uut.platform_phase.platform.target }}</td>
        <td>{{ uut.platform_phase.platform.cycle }}</td>
        <td>{{ uut.platform_phase.phase.phase_text }}</td>
        <td>{{ uut.sku }}</td>
        <td>{{ uut.sn }}</td>
        <td>{{ uut.borrower }}</td>
        <td>{{ uut.status }}</td>
        <td>{{ uut.scrap }}</td>
        <td>{{ uut.position }}</td>
        <td>{{ uut.cpu }}</td>
        <td>{{ uut.remark }}</td>
        <td>{{ uut.keyin_time }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</div>

<script>
$("#borrowRadio").on('click',function(){
    $("#borrowfield").prop('disabled',false);
    $("#rentbackfield").css('font-weight','');
    if($(this).prop('checked') == true){
        $("#rentbackfield").prop('disabled',true);
        $("#borrowfield").css('font-weight','bold');
    }
});
$("#backRadio").on('click',function(){
    $("#rentbackfield").prop('disabled',false);
    $("#borrowfield").css('font-weight','');
    if($(this).prop('checked') == true){
        $("#borrowfield").prop('disabled',true);
        $("#rentbackfield").css('font-weight','bold');

    }
});

$('.custom-file-input').on('change',function(){
    var fileName = $(this).val();
     $(this).next('.custom-file-label').html(fileName);
})

$(".checkbox-menu").on("change", "input[type='checkbox']", function() {
   $(this).closest("li").toggleClass("active", this.checked);
});
$(".select-all").on("change", "input[type='checkbox']", function() {
    let check =  $(this)
    check.closest("label").toggleClass("active", this.checked);
    check.parent("label").siblings(".dropdowndata").first().find("li").each(function(){
        if($(this).css("display")!="none"){
            let u_check = $(this).find("label input")
            if((check).prop("checked")==true){
                $(this).addClass("active");
                u_check.prop("checked",true);
            }
            else{
                $(this).removeClass("active");
                u_check.prop("checked",false);
            }
        }
    });
});
$(document).on('click', '.allow-focus', function (e) {
  e.stopPropagation();
});
$(".searchthenshow" ).keyup(function() {
    let v = $(this).val().toLowerCase();
    $(this).siblings(".dropdowndata").first().find("li").each(function(){
        if($(this).attr("value").toLowerCase().startsWith(v)){
            $(this).css("display","");
        }
        else{
            $(this).css("display","none");
        }
    });
});
</script>
{% endblock  %}