{% extends 'admin/change_list.html' %}

{% block extrahead %}
{{ block.super }}
<!-- CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<!-- jQuery and JS bundle w/ Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<style>
.checkbox-menu li label,
label.select-all  {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin:0;
    transition: background-color .4s ease;
}
.checkbox-menu li input
label.select-all input {
    margin: 0px 5px;
    position: relative;
}

.checkbox-menu li.active label,
label.select-all.active{
    background-color: #c4dce8;
    font-weight:bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus,
label.select-all:hover,
label.select-all:foucs {
    background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus,
label.select-all.active:hover ,
label.select-all.active:focus {
    background-color: #417690cc;
}
.dropdowndata{
    max-height: 300px;
    overflow-y: scroll;
}

label.select-all{
    font-family:monospace;
}
label.select-all input{
    margin-right:4px;
}

.results{
    max-height:1000px;
    overflow-y:scroll;
}
#changelist-filter{
    max-height:1225px;
    overflow-y:scroll;
}
</style>
{% endblock %}





{% block search %}
{{ block.super }}
<form id='changelist-adv-search' method='post'>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#advsearch-modal">
        ADVANCE FILTER
    </button>

    <!-- Modal -->
    <div class="modal fade" id="advsearch-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Advance Filter</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {% block dropdownfilter %}

            {% for dlist in dropdown %}
            <div class="btn-group" data-toggle="buttons">

                <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" 
                        id="dropdown{{ dlist.buttonName }}" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="true">
                        {{ dlist.buttonName }}
                        
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu checkbox-menu allow-focus" aria-labelledby="dropdownMenu1">
                        <input type="text" list="" class="searchthenshow"  placeholder="Search {{ dlist.buttonName }}">
                        <div class="dropdown-divider"></div>
                        <label class="select-all">
                            <input type="checkbox" name="select_all" id=""  autocomplete="off">Select all
                        </label>

                        <div class="dropdowndata">
                        {% if dlist.dataList %}
                            {{dlist.format_html}}
                        {% endif %}
                        </div>
                </ul>
                </div>



            </div>
            <hr>
            {% endfor %}
            {% endblock %}

            <div class="uut-multi-searcher">
                <div class = "uut-multi-searcher-cell mb-1">
                    <input type="text" name="selectSn"  class="uut-multi-searcher-input"  placeholder="Serial Number">
                    <a href="javascript:void(0);" class="uut-multi-searcher-delete"><img src="/static/admin/img/icon-deletelink.svg" alt="Delete"></a>
                    <br>
                </div>
            </div>
                </div>
                    <div class="modal-footer">
                        {% csrf_token %}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        
                        <button type="submit" name='clear-search-adv' value='clear-search-adv' class="btn btn-warning" style="color:white;">Clear Setting</button>
                        <button type="submit" name='search-adv' value='search-adv' class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
            </div>
        </form>
        <hr>

<script>


$('#changelist-adv-search').keydown(function (e) {
    if (e.keyCode == 13) {
        e.preventDefault();
        return false;
    }
});

$(".uut-multi-searcher-delete").click(function(){
    if($(this).length>1){
        $(this).parent(".uut-multi-searcher-cell").remove();
    }
});

$(".uut-multi-searcher-cell").last().on("keydown","input[type='text']",function(e){
    if(e.which==13){
        let cloneCell = $(".uut-multi-searcher-cell").last().clone(true)
        let cloneCellInput = cloneCell.find(".uut-multi-searcher-input");
        cloneCellInput.val("");
        cloneCell.appendTo(".uut-multi-searcher");
        cloneCellInput.focus();
    }
});


$(".checkbox-menu").on("change", "input[type='checkbox']", function() {
   $(this).closest("li").toggleClass("active", this.checked);
});
$(".select-all").on("change", "input[type='checkbox']", function() {
    let check =  $(this)
    check.closest("label").toggleClass("active", this.checked);
    check.parent("label").siblings(".dropdowndata").first().find("li").each(function(){
        if($(this).css("display")!="none"){
            let u_check = $(this).find("label input")
            if((check).prop("checked")==true){
                $(this).addClass("active");
                u_check.prop("checked",true);
            }
            else{
                $(this).removeClass("active");
                u_check.prop("checked",false);
            }
        }
    });
});
$(document).on('click', '.allow-focus', function (e) {
  e.stopPropagation();
});

$(".searchthenshow" ).keyup(function() {
    let v = $(this).val().toLowerCase();
    $(this).siblings(".dropdowndata").first().find("li").each(function(){
        if($(this).attr("value").toLowerCase().startsWith(v)){
            $(this).css("display","");
        }
        else{
            $(this).css("display","none");
        }
    });
});



</script>
{% endblock %}


